@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-yellow: #FFEE77;
  --primary-dark-bg: #161616;
}


.banner {
    background-image: url('src/assets/images/hero-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

/* BACKGROUNDS */
.background-menu {
    background-color: var(--primary-dark-bg);
}
.background-menu-mobile {
    background-color: var(--primary-dark-bg);
    opacity: 0.95;
}
.background-yellow {
    background-color: var(--primary-yellow);
    padding-bottom: 70rem;
}

/* TEXT COLOUR */
.menu-text-color {
    color: var(--primary-yellow);
    padding-bottom: 5px;
    border-bottom: 4px solid transparent;
}
.menu-text-color:hover {
    color: var(--primary-yellow);
    padding-bottom: 5px;
    border-bottom: 4px solid #00C0F8;
}
.hero-text-color {
    color: white;
}
.h1-text-color {
    color: #111827;
}

/* BUTTONS */
.button-main {
    color: #020202;
    font-weight: 600;
    background-color: var(--primary-yellow);;
}
.button-main:hover {
    color: #020202;
    font-weight: 700;
    background-color: #DDCE67;
}

/* ALIGN */


/* CUSTOM */
.hero-h2 {
    padding-top: 10px;
}

.headers-padding {
    padding-top: -10px;
    padding-bottom: -40px;
}

.icon-product-1 {
    background-image: url('src/assets/images/phonelink_lock.svg');
}

.small-box-gradient {
    background-image: linear-gradient(to right, #14B6A6 , #0893B1);
}