@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-yellow: #FFEE77;
  --primary-dark-bg: #161616;
  --bg-light-grey: #f5f5f5;
}


.banner {
    background-image: url('src/assets/images/hero-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

  .fixed-banner {
      position: fixed;
  }

/* BACKGROUNDS */
.background-menu {
    background-color: var(--primary-dark-bg);
}
.background-menu-mobile {
    background-color: var(--primary-dark-bg);
    opacity: 0.95;
}
.background-yellow-size {
    background-color: var(--primary-yellow);
    padding-bottom: 70rem;
}

.background-yellow-size-support {
    background-color: var(--primary-yellow);
    padding-bottom: 25rem;
}

.background-yellow {
    background-color: var(--primary-yellow);
}

.background-grey {
    background-color: var(--bg-light-grey);
}

/* TEXT COLOUR */
.menu-text-color {
    color: var(--primary-yellow);
    padding-bottom: 5px;
    border-bottom: 4px solid transparent;
}
.menu-text-color:hover {
    color: var(--primary-yellow);
    padding-bottom: 5px;
    border-bottom: 4px solid #00C0F8;
}
.hero-text-color {
    color: white;
}
.h1-text-color {
    color: #111827;
}

.yellow-text-color {
    color: var(--primary-yellow);
}
.testimonial-text-color {
    color: #757575;
}
.testimonial-text-quote {
    color: #757575;
    opacity: 0.2;
}

.contact-link {
    color: #757575;
}
.contact-link:hover {
    color: #111827;
    font-weight: 700;
}

/* BUTTONS */
.button-main {
    color: #020202;
    font-weight: 600;
    background-color: var(--primary-yellow);
}
.button-main:hover {
    color: #020202;
    font-weight: 700;
    background-color: #DDCE67;
}

/* ALIGN */
.text-center {
    text-align: center;
}

.testimonial-ceo {
    justify-content: flex-end;
}

/* CUSTOM */
.hero-h2 {
    padding-top: 10px;
}

.headers-padding {
    padding-top: -10px;
    padding-bottom: -40px;
}

.icon-product-1 {
    background-image: url('src/assets/images/phonelink_lock.svg');
}

.small-box-gradient {
    background-image: linear-gradient(to right, #14B6A6 , #0893B1);
}

.diagram-logo {
    display: inline;
    width: 5em;
    padding: 0 15px 0 15px;
}

.diagram-img {
    padding: 20px 0 20px ;
}

.price-border {
    border: 1px solid var(--primary-yellow);
    border-radius: 20px;
}

.price-wallet-align {
    width: 50%;
    line-height: 24px;
}

.testimonial-border {
    border-radius: 10px;
}

.testimonial-line {
    border-left: 2px solid #DADADA;
}

.contact-border-white {
    border-radius: 20px;
}

.contact-border {
    border-radius: 20px 0 0 20px;
}

.contact-form-border {
    border: 1px solid #DADADA;
}

.contact-icons {
    color: black;
}
.contact-icons:hover {
    color: #757575;
}

.footer-top {
    border-top: 10px solid var(--primary-yellow);
}
.footer-line {
    border-top: 1px solid var(--primary-yellow);
}

/* ---- SLA ---- */
.sla-container {
    position: relative;
    padding: 10px;
    height: 78px;
    border-radius: 10px;
    background-color: var(--primary-dark-bg);
}

.sla-text {
    z-index: 5;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.sla-img {
    top: 0;
    left: 0;
    position: absolute;
    width: 3.6em;
    opacity: 0.1;
}

.sla-align {
    padding-top: 15px;
}

/* ---- FOOTER ---- */
.footer-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-box {
    width: 22%;
}

.footer-legal-container {
    width: 72%;
    margin-left: 28%;
}

.footer-text-header {
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.footer-text {
    color: white;
    padding: 8px 0 8px 0;
    font-weight: 500;
}
.footer-text-link {
    color: white;
    padding: 5px 0 5px 0;
    font-weight: 500;
}
.footer-text-link:hover {
    color: var(--primary-yellow);
    font-weight: 500;
    text-decoration: underline;
}
.footer-legal-link {
    color: var(--primary-yellow);
    padding: 5px 0 5px 0;
    font-weight: 500;
}
.footer-legal-link:hover {
    color: var(--primary-yellow);
    font-weight: 500;
    text-decoration: underline;
}

/* MOBILE */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .footer-box {
        width: 100%;
    }
    .footer-legal-container {
        width: 100%;
        margin-left: 0;
    }

}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .footer-box {
        width: 100%;
    }
    .footer-legal-container {
        width: 100%;
        margin-left: 0;
    }
}

.menu-height {
    height: 80px;
    padding-bottom: 40px;
}